.container{
    display: flex;
    width: 680px;
    height: 100px;
    padding: 0px;
    margin: auto;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
  
  }
  li{
    background-color: blue;
    width: 50px;
    height: 50px;
    list-style-type: none;
    margin-left: 15px;
   
  }

  .red{
      background-color: coral;
  }
  
  .red .item{
      background-color: purple;
  }