body{
    margin: 0;
    background-image: url('meadow-3628843_1920.jpg');
}
header{
    height: 100px;
    background-color: rgb(21, 240, 167);
    
}
header h1{
    text-align: center;
    padding: 25px;
    font-family: 'Finger Paint', cursive;
    color: green;
}
main{
    margin: auto;
    width: 50%;
    background-color: ivory;
    filter:alpha(opacity= 50);
	opacity: 0.5;
	-moz-opacity:0.5;
    
    height: 1000px;
}